.wrapper {
  background-image: url("https://lwotpjzdnsbqfetmucxp.supabase.co/storage/v1/object/public/assets/backgrounds/white-simple-textured-design-background.jpg");
  background-size: cover;
  font-family: var(--font-old-standard);
  text-align: center;
}

.cover {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.parents {
  display: flex;
}

.company-of-our-parents {
  text-transform: uppercase;
  font-size: clamp(1.18rem, 0.1514rem + 4.5714vw, 1.58rem);
  padding: 0 16px;
}

.invitation-container {
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.itinerario {
  font-size: clamp(2.5rem, 13vw, 4rem);
}

.we-invite-you {
  font-size: clamp(0.89rem, -0.1643rem + 4.6857vw, 1.3rem);
}

.couple-name {
  line-height: 80%;
  font-family: var(--font-dancing-script);
  margin-top: 16px;
  font-size: clamp(3rem, 20vw, 8rem);
}

.couple-name-overlay h1 {
  font-size: clamp(3rem, 20vw, 8rem);
  line-height: 80%;
  font-family: var(--font-dancing-script);
}

.event-date {
  margin-top: 48px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: clamp(1rem, 8vw, 3rem);
  line-height: 100%;
}

.form-section {
  padding: 64px 24px;
  background: #ffffff;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 95%,
    rgba(255, 255, 255, 0) 100%
  );
}

.assistance {
  font-size: clamp(2.5rem, 13vw, 4rem);
  text-transform: uppercase;
}
.assistance-description {
  font-size: clamp(1.09rem, 0.0871rem + 4.4571vw, 1.48rem);
  margin-bottom: 24px;
}

.parents {
  font-size: clamp(0.89rem, -0.1643rem + 4.6857vw, 1.3rem);
  display: flex;
  justify-content: space-around;
}

.event-day-container {
}

.honor-to-invite {
  font-size: clamp(1.18rem, 0.1514rem + 4.5714vw, 1.58rem);
}

.church,
.reception {
  font-size: clamp(1rem, 8vw, 2.5rem);
  line-height: 100%;
  margin-bottom: 96px;
}

.church a,
.reception a {
  font-size: clamp(1rem, 8vw, 1.5rem);
  padding: 24px 24px;
}

.church-img,
.reception-img {
  max-width: 300px;
  width: 100%;
  margin: 0 auto 16px auto;
}

.church-text,
.reception-text {
  margin-bottom: 16px;
}

.gallery {
  height: 70vh;
  width: 100%;
}

.timeline {
  margin-bottom: 64px;
  font-size: clamp(1rem, 5vw, 1.5rem);
  line-height: 100%;
  padding: 0 16px;
}

.timeline-img {
  max-width: 180px;
  min-width: 80px;
  max-height: 120px;
  width: 100%;
  object-fit: contain;
}

.liz-y-alejandro-overlay {
  font-size: clamp(3rem, 20vw, 4rem);
  line-height: 80%;
  font-family: var(--font-dancing-script);
  bottom: 10vh !important;
}

.countdown-group {
  margin-bottom: 64px;
  padding: 32px;
  color: var(--color-primary-foreground);
}

.black-bg {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--color-primary);
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 24px;
  color: white;
}

.faltan {
  font-size: clamp(2rem, 15vw, 3rem);
}
.nuestra-boda {
  font-size: clamp(1.2rem, 8vw, 2rem);
}

.countdown {
  font-size: clamp(1.5rem, 10vw, 3rem);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
  justify-content: center;
  line-height: 50%;
  width: 80%;
  margin: 0 auto;
}

.countdown span {
  font-size: clamp(0.8rem, 5vw, 1rem);
}

.regalos {
  margin-top: 64px;
  margin-bottom: 64px;
}
.regalos-title {
  font-size: clamp(2.5rem, 13vw, 4rem);
}
.regalos-description {
  font-size: clamp(1rem, 4vw, 2rem);
}
.regalos-suggestion {
  font-size: clamp(1rem, 4vw, 2rem);
  margin-top: 24px;
}

.reservation {
  padding: 32px;
}
.reservation-title {
  font-size: clamp(1rem, 10vw, 3.5rem);
  line-height: 100%;
}
.reservation-number {
  font-size: clamp(4rem, 20vw, 10rem);
  line-height: 100%;
}
.reservation-subtitle {
  font-size: clamp(1rem, 10vw, 3rem);
  line-height: 100%;
}

.dress-title {
  font-size: clamp(1rem, 10vw, 3rem);
  line-height: 100%;
  margin-bottom: 24px;
}
.dress-image {
  max-width: 300px;
  width: 100%;
  margin: 0 auto 64px auto;
}

.drinks-text {
  font-size: clamp(1rem, 8vw, 2rem);
  line-height: 100%;
  margin-bottom: 24px;
}
.drinks-image {
  max-width: 300px;
  width: 100%;
  margin: 0 auto 64px auto;
}

.children-group {
  padding: 32px;
}

.children-text-1 {
  font-size: clamp(1rem, 6vw, 1.5rem);
  line-height: 100%;
}
.children-text-2 {
  font-size: clamp(1rem, 10vw, 3rem);
}

.gallery-title {
  font-size: clamp(2.5rem, 13vw, 4rem);
  margin-top: 64px;
}