.wrapper {
  --brown: #7a5a3a;

  background-image: url("https://lwotpjzdnsbqfetmucxp.supabase.co/storage/v1/object/public/assets/backgrounds/yellow-watercolor.jpg");
  background-size: cover;
  font-family: var(--font-fredoka);
  text-align: center;
  color: var(--brown);
}

.hero-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.estamos-de-fiesta {
  margin-bottom: -32px;
  font-family: var(--font-dancing-script);
  font-size: clamp(2rem, 10vw, 4rem);
}

.pooh {
  --hero-img-max-size: 400px;
  --hero-img-min-size: 200px;
  max-width: var(--hero-img-max-size);
  max-height: var(--hero-img-max-size);
  min-width: var(--hero-img-min-size);
  min-height: var(--hero-img-min-size);
  width: 100%;
  margin: 0 auto;
}

.acompananos-a-celebrar {
  margin-bottom: -4px;
  font-size: clamp(1rem, 4vw, 1.5rem);
}
.el-primer-cumpleanos {
  --gold: #c4934e;

  font-family: var(--font-dancing-script);
  color: var(--gold);
  font-size: clamp(2rem, 8vw, 4rem);
  line-height: 100%;
}
.de-sebastian {
  --gold: #c4934e;

  font-family: var(--font-dancing-script);
  color: var(--gold);
  font-size: clamp(3.2rem, 9vw, 5rem);
  line-height: 100%;
  margin-bottom: 32px;
}
.fecha {
  margin-bottom: 16px;
  font-size: clamp(1rem, 4vw, 1.5rem);
}
.direccion {
  font-size: clamp(1rem, 4vw, 1.5rem);
}
